/* X-Small devices (portrait phones, less than 576px) */
@media only screen and (min-width: 0px) and (max-width: 575px) {
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
}
img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#bgContainer {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: scroll;
}
#bgImage {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 2;
  object-fit: fill;
}

#network {
  clip-path: polygon(0% 23%, 100% 0, 100% 86%, 3% 100%);
  position: fixed;
  top: 34.8%;
  left: 28%;
  z-index: 5;
  width: 5.3%;
  height: 22%;
  cursor: pointer;
}
#network > img {
  transform: skew(-5deg, -10deg);
  background-color: white;
  height: 100%;
  object-fit: cover;
}

#services {
  clip-path: polygon(0% 0%, 100% 31%, 100% 91%, 1% 76%);
  background-color: #6c553d;
  background-size: 800px;
  background-position: center;
  position: fixed;
  top: 59%;
  left: 56.3%;
  z-index: 5;
  width: 10.2%;
  height: 17%;
  cursor: pointer;
  opacity: 1;
  border: 2px solid black;
}
#services > img {
  transform: skew(-10deg, 12deg);
  background-color: #6c553d;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  object-fit: cover;
}
#people {
  clip-path: polygon(
    33.5% 9.5%,
    100% 0,
    97% 94.7%,
    53% 97.7%,
    52% 44%,
    33% 38.5%
  );
  position: fixed;
  top: 8.3%;
  left: 63.2%;
  z-index: 5;
  width: 7%;
  height: 35%;
  cursor: pointer;
  opacity: 0.8;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 1);
  box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 1);
}

#people > video {
  position: absolute;
  top: 0;
  right: 0px;
  height: 100%;
  object-fit: cover;
  transform: skew(0deg, -10deg);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 1);
  box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 1);
}
#work {
  cursor: pointer;
  clip-path: polygon(
    0% 38%,
    49% 0.6%,
    51% 0.4%,
    53% 0.7%,
    56% 2.5%,
    100% 46%,
    99.5% 100%,
    56% 68.1%,
    53% 67.2%,
    51% 67.1%,
    47% 67.2%,
    44% 68.2%,
    0.7% 93%
  );
  position: fixed;
  top: 12.5%;
  left: 40.3%;
  z-index: 5;
  width: 26.1%;
  height: 32.6%;
  background-color: aqua;
}
#work > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
#clientele {
  cursor: pointer;
  clip-path: polygon(0% 0%, 100% 67%, 100% 98%, 0% 36%);
  position: fixed;
  top: 46%;
  left: 54.1%;
  z-index: 5;
  width: 12.3%;
  height: 14.1%;
  background-color: rgba(0, 0, 0, 0);
}
#cslider {
  height: 100%;

  top: 0;
  left: 0;
  transform: skew(0deg, 21deg);
}
.csliderImg {
  margin-top: 80%;
  width: 60px !important;
}

#lights > #one {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: #ff000000;
  z-index: 9;
  position: fixed;
  top: 80%;
  left: 80%;
  -webkit-box-shadow: 100px 50px 300px 100px rgba(255, 139, 22, 0.5);
  -moz-box-shadow: 100px 50px 300px 100px rgba(255, 139, 22, 0.5);
  box-shadow: 100px 50px 300px 100px rgba(255, 139, 22, 0.5);
  animation: animate_lights 5s infinite alternate forwards ease;
}

@keyframes animate_lights {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    -webkit-box-shadow: 40px 100px 300px 100px rgba(255, 139, 22, 0.5);
    -moz-box-shadow: 40px 100px 300px 100px rgba(255, 139, 22, 0.5);
    box-shadow: 40px 100px 300px 100px rgba(255, 139, 22, 0.5);
  }
  20%,
  23% {
    -webkit-box-shadow: 40px 100px 300px 100px rgba(34, 34, 34, 0.5);
    -moz-box-shadow: 40px 100px 300px 100px rgba(34, 34, 34, 0.5);
    box-shadow: 40px 100px 300px 100px rgba(34, 34, 34, 0.5);
  }
}
