@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  #network_effect {
    display: none;
  }
  #maintag {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(
      to right,
      #061427,
      #081f3b,
      #0d2950,
      #143466,
      #1e3f7c,
      #1e3f7c,
      #1e3f7c,
      #1e3f7c,
      #143466,
      #0d2950,
      #081f3b,
      #061427
    );
  }
  .video-container {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .video-container video {
    position: absolute;
    bottom: 0%;
    left: 0%;
    transform: translateX(-20%);
    width: 170%;
    height: 75%;
    object-fit: fill;
  }
  #banner #brands1 {
    position: absolute;
    top: 32%;
    left: 32.1%;
    width: 23.7%;
    height: 6%;
    transform: skewX(10deg);
    transform: skewY(-40.5deg);
    box-shadow: 0 0 100px 20px rgba(255, 255, 255, 0.91);
    filter: invert(16%);
    -webkit-filter: invert(16%);
    -moz-filter: invert(10%);
    border: 2px solid black;
    z-index: 6;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #banner #brands2 {
    position: absolute;
    top: 33.6%;
    left: 56.7%;
    width: 23.8%;
    height: 6%;
    transform: skewX(20deg);
    transform: skewY(49deg);
    box-shadow: 0 0 100px 20px rgba(255, 255, 255, 0.91);
    filter: invert(10%);
    -webkit-filter: invert(16%);
    -moz-filter: invert(16%);
    border: 2px solid black;
    z-index: 5;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  #network-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  #network-container video {
    position: absolute;
    top: 51%;
    left: 10.7%;
    width: 12.6%;
    height: 30%;
    object-fit: fill;
    transform: skewX(140deg);
    transform: rotate(0.5deg) skewY(-39deg);
    filter: invert(10%);
    cursor: pointer;
    z-index: 9; /* Stretches the video to fill the container */
  }
  #network-container span {
    position: absolute;
    top: 72.6%;
    left: 10.5%;
    width: 12.6%;
    height: 15%;
    background-color: white;
    transform: rotate(0.5deg) skewY(-12deg);
    filter: invert(10%);
    z-index: 9;
    cursor: pointer;
  }
  #network-container h1,
  #entities-container h1 {
    font-family: 'Sacramento', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .neonText {
    position: absolute;
    top: 45.4%;
    left: 12.7%;
    transform: skewX(140deg);
    transform: rotate(0.5deg) skewY(-39deg);
    animation: flicker 1.5s infinite alternate;
    font-size: 130%;
    width: 6.5%;
    cursor: pointer;
  }

  .entityText {
    position: absolute;
    top: 75.6%;
    left: 35.6%;
    transform: skewX(0deg);
    transform: rotate(0.5deg) skewY(-18deg);
    animation: flicker 3s infinite alternate;
    font-size: 170%;
    width: 6.5%;
    z-index: 7;
    height: 8%;
  }

  @keyframes flicker {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
      text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #1342fe,
        0 0 42px #1342fe, 0 0 82px #1342fe, 0 0 92px #1342fe, 0 0 102px #1342fe,
        0 0 151px #1342fe;
    }
    20%,
    24%,
    55% {
      text-shadow: none;
    }
  }

  #entities-container #textBack {
    position: absolute;
    top: 76.5%;
    left: 31%;
    width: 15.8%;
    height: 5.8%;
    background-color: rgba(0, 0, 0, 0.818);
    transform: skewY(-18deg);
    filter: invert(10%);
    z-index: 6;
  }

  #entBackTwo {
    position: absolute;
    top: 84%;
    left: 30.9%;
    width: 26%;
    height: 6.3%;
    background-image: linear-gradient(
      to left,
      #232649ec,
      #232649ec,
      #000227ec,
      #000227ec,
      #000000ec
    );
    transform: skewY(-9deg);
    filter: invert(10%);
    z-index: 6;
  }

  #entBackThree {
    position: absolute;
    top: 84.3%;
    left: 56.7%;
    width: 26%;
    height: 6.3%;
    background-image: linear-gradient(
      to right,
      #232649ec,
      #232649ec,
      #000227ec,
      #000227ec,
      #000000ec
    );
    transform: skewY(11deg) rotate(0deg);
    filter: invert(10%);
    z-index: 6;
    border-left: 2px solid black;
  }
  #entBackThree_ {
    position: absolute;
    top: 89.3%;
    left: 30.9%;
    width: 25.8%;
    height: 1.2%;
    background-image: linear-gradient(
      to left,
      #232649ec,
      #232649ec,
      #000227ec,
      #000227ec,
      #000000ec
    );
    transform: skewY(-7deg);
    filter: invert(10%);
    z-index: 6;
  }

  .ent_image {
    width: 20%;
    opacity: 1;
  }
  #organicsvg {
    position: absolute;
    width: 9%;
    height: 2.3%;
    top: 85.7%;
    left: 59%;
    z-index: 9;
    filter: brightness(296%) drop-shadow(5px 5px 5px gray);
    transform: skewY(9deg) rotate(-1deg);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  #twesvg {
    position: absolute;
    width: 9%;
    height: 1.4%;
    top: 87.4%;
    left: 72.2%;
    z-index: 9;
    filter: brightness(296%) drop-shadow(5px 5px 5px gray);
    transform: skewY(12deg) rotate(-1deg);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  #mslsvg {
    position: absolute;
    width: 7%;
    height: 1.5%;
    top: 86%;
    left: 46.5%;
    z-index: 9;
    filter: brightness(296%) drop-shadow(5px 5px 5px gray);
    transform: skewY(-8deg) rotate(2deg);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  #pcasvg {
    position: absolute;
    width: 6%;
    height: 1.5%;
    top: 86.8%;
    left: 35%;
    z-index: 9;
    filter: brightness(296%) drop-shadow(5px 5px 5px gray);
    transform: skewY(-8deg) rotate(1deg);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .cls-1 {
    fill: #ffffff;
    stroke-width: 1px;
  }

  #Layer_2 {
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 0;
    z-index: 22;
    height: 100%;
    width: 300%;
    object-fit: fill;
    transform: translateX(-33.3%);
  }
  .cls-2 {
    fill: #ffffff;
    stroke-width: 1px;
  }

  #Layer_3 {
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 22;
    height: 100%;
    width: 300%;
    object-fit: fill;
    transform: translateX(-33.3%);
    background-size: 100% 100%;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  #impact_img {
    position: absolute;
    bottom: 2%;
    right: 3%;
    border: 0px;
    z-index: 22;
    width: 23%;
    height: auto;
    animation: rotate 20s infinite linear;
  }

  @keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  #scrollico {
    position: absolute;
    z-index: 23;
    color: rgb(38, 38, 38);
    stroke: white;
    bottom: 5%;
    right: 10%;
    width: 8%;
    height: 5%;
  }

  #workoverone {
    position: absolute;
    top: 39.6%;
    left: 56.8%;
    background-color: #00000000;
    height: 15%;
    width: 23.6%;
    z-index: 9;
    transform: skew(0deg, 49.2deg);
    cursor: pointer;
  }
  #workovertwo {
    position: absolute;
    top: 48.6%;
    left: 56.8%;
    background-color: #00000000;
    height: 10%;
    width: 23.6%;
    z-index: 9;
    transform: skew(0deg, 34.5deg);
    cursor: pointer;
  }
  #workoverthree {
    position: absolute;
    top: 38%;
    left: 32.8%;
    background-color: #00000000;
    height: 12.8%;
    width: 24%;
    z-index: 9;
    transform: skew(0deg, -40.5deg);
    cursor: pointer;
  }
  #workoverfour {
    position: absolute;
    top: 48%;
    left: 32.8%;
    background-color: #00000000;
    height: 9.8%;
    width: 24%;
    z-index: 9;
    transform: skew(0deg, -30deg);
    cursor: pointer;
  }
  #menuee {
    display: flex;
    justify-self: center;
    align-items: center;
    z-index: 21;
    position: absolute;
    top: 1%;
    right: 4%;
    vertical-align: middle;
  }
  #menuee p {
    font-size: 10%;
    color: #ffffff;
    font-family: 'Sacramento', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0 0 4px #ffffffc0, 0 0 11px #ffffff9b, 0 0 19px #ffffffa8,
      0 0 40px rgb(0, 115, 255), 0 0 80px rgb(0, 64, 255),
      0 0 90px rgb(0, 174, 255), 0 0 100px rgb(0, 55, 255),
      0 0 150px rgb(0, 8, 255);
    font-size: 200%;
    width: 6.5%;
    z-index: 7;
    height: 8%;
    cursor: pointer;
    margin: 0px 0px 5px 5px;
  }
  #menuee svg {
    color: #ffffff;
    -webkit-filter: drop-shadow(6px -6px 131px #cce6ff);
    filter: drop-shadow(6px -6px 131px #cce6ff);
    width: 20% !important;
    height: 20% !important;
  }

  .navListItems {
    color: rgb(231, 248, 255);
    z-index: 21;
    font-family: Impact, Charcoal, sans-serif;
    text-shadow: 4px 3px 0px #7a7a7a, 2px 2px 2px rgba(63, 109, 206, 0);
    cursor: pointer;
    margin: 0% 2% 0% 2%;
  }
  .navListItems:hover {
    text-shadow: 4px 3px 0px #0037ff, 2px 2px 2px rgba(63, 109, 206, 0);
  }
  .my-icon {
    z-index: 21;
    cursor: pointer;
  }
  #bluroverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: #00000000;
    z-index: 20;
    pointer-events: none;
  }
  #overlay-text {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 21;
    position: absolute;
    left: 0%;
    width: 100%;
    bottom: 0%;
    height: 20%;
  }
  #nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  #maintag {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .video-container video {
    width: 100%;
    height: 100%;
    object-fit: fill; /* Stretches the video to fill the container */
  }
  #banner #brands1 {
    position: absolute;
    top: 8.9%;
    left: 39%;
    width: 14.2%;
    height: 8%;
    transform: skewX(10deg);
    transform: skewY(-26.5deg);
    box-shadow: 0 0 100px 20px rgba(255, 255, 255, 0.91);
    filter: invert(16%);
    -webkit-filter: invert(16%);
    -moz-filter: invert(10%);
    border: 5px solid black;
    z-index: 6;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #banner #brands2 {
    position: absolute;
    top: 10.8%;
    left: 53.7%;
    width: 14%;
    height: 8%;
    transform: skewX(20deg);
    transform: skewY(33deg);
    box-shadow: 0 0 100px 20px rgba(255, 255, 255, 0.91);
    filter: invert(10%);
    -webkit-filter: invert(16%);
    -moz-filter: invert(16%);
    border: 5px solid black;
    z-index: 5;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  #network-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  #network-container video {
    position: absolute;
    top: 35%;
    left: 26.3%;
    width: 7.2%;
    height: 40%;
    object-fit: fill;
    transform: skewX(140deg);
    transform: rotate(0.5deg) skewY(-25deg);
    filter: invert(10%);
    cursor: pointer;
    z-index: 9; /* Stretches the video to fill the container */
  }
  #network-container span {
    position: absolute;
    top: 68%;
    left: 26.2%;
    width: 7.2%;
    height: 15%;
    background-color: white;
    transform: skewY(-7deg);
    filter: invert(10%);
    z-index: 9;
    cursor: pointer;
  }
  #network-container h1,
  #entities-container h1 {
    font-family: 'Sacramento', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .neonText {
    position: absolute;
    top: 27%;
    left: 26.6%;
    transform: skewX(140deg);
    transform: rotate(0.5deg) skewY(-25deg);
    animation: flicker 1.5s infinite alternate;
    size: 200%;
    width: 6.5%;
    cursor: pointer;
  }

  .entityText {
    position: absolute;
    top: 69%;
    left: 39.6%;
    transform: skewX(0deg);
    transform: rotate(0.5deg) skewY(-10deg);
    animation: flicker 3s infinite alternate;
    font-size: 300%;
    width: 6.5%;
    z-index: 7;
    height: 8%;
  }

  @keyframes flicker {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
      text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #1342fe,
        0 0 42px #1342fe, 0 0 82px #1342fe, 0 0 92px #1342fe, 0 0 102px #1342fe,
        0 0 151px #1342fe;
    }
    20%,
    24%,
    55% {
      text-shadow: none;
    }
  }

  #entities-container #textBack {
    position: absolute;
    top: 69%;
    left: 39%;
    width: 8.4%;
    height: 7%;
    background-color: rgba(0, 0, 0, 0.818);
    transform: skewY(-10deg);
    filter: invert(10%);
    z-index: 6;
  }

  #entBackTwo {
    position: absolute;
    top: 78.3%;
    left: 39%;
    width: 14.7%;
    height: 9%;
    background-image: linear-gradient(
      to left,
      #3b3b3bec,
      #3b3b3bec,
      #000000ec,
      #000000ec,
      #000000ec
    );
    transform: skewY(-5deg);
    filter: invert(10%);
    z-index: 6;
  }

  #entBackThree {
    position: absolute;
    top: 78.8%;
    left: 53.7%;
    width: 14.7%;
    height: 8%;
    background-image: linear-gradient(
      to right,
      #3b3b3bec,
      #3b3b3bec,
      #000000ec,
      #000000ec,
      #000000ec
    );
    transform: skewY(7deg) rotate(0deg);
    filter: invert(10%);
    z-index: 6;
    border-left: 2px solid black;
  }
  #entBackThree_ {
    position: absolute;
    top: 86.3%;
    left: 53.7%;
    width: 14.7%;
    height: 1.2%;
    background-image: linear-gradient(
      to right,
      #3b3b3bec,
      #3b3b3bec,
      #000000ec,
      #000000ec,
      #000000ec
    );
    transform: skewY(5deg) rotate(0deg);
    filter: invert(10%);
    z-index: 6;
    border-left: 2px solid black;
  }

  .ent_image {
    width: 5.7vw;
    opacity: 1;
  }
  #organicsvg {
    position: absolute;
    width: 5%;
    height: 4.3%;
    top: 80%;
    left: 55%;
    z-index: 9;
    filter: brightness(296%) drop-shadow(5px 5px 5px gray);
    transform: skewY(7deg) rotate(-1deg);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  #twesvg {
    position: absolute;
    width: 5%;
    height: 2.5%;
    top: 82.4%;
    left: 62%;
    z-index: 9;
    filter: brightness(296%) drop-shadow(5px 5px 5px gray);
    transform: skewY(7deg) rotate(-1deg);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  #mslsvg {
    position: absolute;
    width: 4%;
    height: 2.5%;
    top: 81%;
    left: 47.5%;
    z-index: 9;
    filter: brightness(296%) drop-shadow(5px 5px 5px gray);
    transform: skewY(-5deg) rotate(2deg);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  #pcasvg {
    position: absolute;
    width: 4%;
    height: 2.5%;
    top: 82%;
    left: 40.5%;
    z-index: 9;
    filter: brightness(296%) drop-shadow(5px 5px 5px gray);
    transform: skewY(-7deg) rotate(1deg);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .cls-1 {
    fill: #ffffff;
    stroke-width: 1px;
  }

  #Layer_2 {
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 0;
    z-index: 22;
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
  .cls-2 {
    fill: #ffffff;
    stroke-width: 1px;
  }
  #Layer_3 {
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 22;
    height: 100%;

    background-size: 100% 100%;
    pointer-events: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #impact_img {
    position: absolute;
    bottom: 3%;
    right: 3%;
    border: 0px;
    z-index: 22;
    width: 7%;
    height: auto;
    animation: rotate 20s infinite linear;
  }

  @keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  #scrollico {
    position: absolute;
    z-index: 23;
    color: rgb(38, 38, 38);
    stroke: white;
    bottom: 7%;
    right: 4%;
    width: 5%;
    height: 5%;
  }

  #workoverone {
    position: absolute;
    top: 19.5%;
    left: 53.6%;
    background-color: #00000000;
    height: 20%;
    width: 13.6%;
    z-index: 9;
    transform: skew(0deg, 33.5deg);
    cursor: pointer;
  }
  #workovertwo {
    position: absolute;
    top: 24.7%;
    left: 53.6%;
    background-color: #00000000;
    height: 20%;
    width: 13.6%;
    z-index: 9;
    transform: skew(0deg, 21.5deg);
    cursor: pointer;
  }
  #workoverthree {
    position: absolute;
    top: 31%;
    left: 39.2%;
    background-color: #00000000;
    height: 12.8%;
    width: 14.3%;
    z-index: 999;
    transform: skew(0deg, -17.5deg);
    cursor: pointer;
  }
  #workoverfour {
    position: absolute;
    top: 18%;
    left: 39.2%;
    background-color: #00000000;
    height: 17.8%;
    width: 14.3%;
    z-index: 999;
    transform: skew(0deg, -27deg);
    cursor: pointer;
  }
  #menuee {
    display: flex;
    justify-self: center;
    align-items: center;
    z-index: 21;
    position: absolute;
    top: 0%;
    right: 1%;
  }
  #menuee p {
    font-size: 100%;
    color: #ffffff;
    font-family: 'Sacramento', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0 0 4px #ffffffc0, 0 0 11px #ffffff9b, 0 0 19px #ffffffa8,
      0 0 40px rgb(0, 115, 255), 0 0 80px rgb(0, 64, 255),
      0 0 90px rgb(0, 174, 255), 0 0 100px rgb(0, 55, 255),
      0 0 150px rgb(0, 8, 255);
    font-size: 300%;
    width: 6.5%;
    z-index: 7;
    height: 8%;
    cursor: pointer;
  }
  #menuee svg {
    color: #ffffff;
    -webkit-filter: drop-shadow(6px -6px 131px #cce6ff);
    filter: drop-shadow(6px -6px 131px #cce6ff);
  }

  .navListItems {
    color: rgb(231, 248, 255);
    z-index: 21;
    font-family: Impact, Charcoal, sans-serif;
    text-shadow: 4px 3px 0px #7a7a7a, 2px 2px 2px rgba(63, 109, 206, 0);
    cursor: pointer;
    margin: 0% 5% 0% 5%;
  }
  .navListItems:hover {
    text-shadow: 4px 3px 0px #0037ff, 2px 2px 2px rgba(63, 109, 206, 0);
  }
  .my-icon {
    z-index: 21;
    cursor: pointer;
  }
  #bluroverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: #00000000;
    z-index: 20;
    pointer-events: none;
  }
  #overlay-text {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 21;
    position: absolute;
    left: 0%;
    width: 100%;
    bottom: 0%;
    height: 20%;
  }
  #nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 80%;
  }
  #network_effect {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: #ffffff00;
    pointer-events: none;
  }
  #network_effect img {
    z-index: 99;
    position: absolute;
    top: 49%;
    left: 26.3%;
    width: 7.2%;
    height: 13%;
    transform: rotate(0.5deg) skewY(-25deg);
    opacity: 0;
    pointer-events: none;
    /* top: 0%;
    left: 8%;
    height: 100%; */
  }
  /* Network Page CSS */
  #network_main {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  #white_network {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 20;
    background-color: #ffffff00;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  #white_network #img_white {
    position: fixed;
    top: 0%;
    left: 8%;
    height: 100vh;
    width: 51.5%;
    opacity: 1;
    z-index: 22;
    filter: drop-shadow(-4px 4px 15px #000000);
  }
  #img_white {
    pointer-events: none;
  }
  #white_network #img_color {
    position: absolute;
    top: 0%;
    left: 8%;
    height: 13%;
    width: 57%;
    z-index: 19;
    transform: rotateX(20deg);
    filter: drop-shadow(-20px 15px 3px #000527);
    opacity: 0;
  }
  #msl_scramble {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: normal;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 1.5vw;
    text-shadow: -4px 3px 5px #000527;
    z-index: 30;
    color: white;
  }
  .msl_map {
    width: 2.3%;
    height: auto;
    z-index: 999;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .msl_map:hover {
    cursor: pointer;
  }
  #mummap {
    position: fixed;
    top: 59%;
    left: 11.6%;
  }
  #delmap {
    position: fixed;
    top: 29%;
    left: 19%;
  }
  #bangmap {
    position: fixed;
    top: 79.5%;
    left: 18%;
  }
  #chenmap {
    position: fixed;
    top: 77%;
    left: 22.4%;
  }
  #hydmap {
    position: fixed;
    top: 65%;
    left: 21%;
  }
  #ahmmap {
    position: fixed;
    top: 47.5%;
    left: 11%;
  }
  #punmap {
    position: fixed;
    top: 62%;
    left: 13.5%;
  }
  #kolmap {
    position: fixed;
    top: 48.5%;
    left: 37%;
  }
  #select_pin {
    animation: growAndFade 2s infinite ease-out;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    height: 7%;
    opacity: 0;
    width: 4%;
    position: fixed;
    top: 57%;
    left: 10.1%;
    z-index: 99;
  }

  @keyframes growAndFade {
    0% {
      opacity: 0.55;
      transform: scale(0);
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
}
